<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h2>Acerca de Nosotros</h2>
        <p>
            ¡Bienvenido a Nuevo Bienestar! Estamos aquí para ofrecerte asesoramiento experto en amor y sexualidad para fortalecer tus relaciones. 
            Nuestro equipo está comprometido en brindarte apoyo y orientación para que puedas construir conexiones más sólidas y satisfactorias en tu vida amorosa. 
            ¡Cuéntanos cómo podemos ayudarte hoy!
        </p>
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <img src="assets\images\principal.jpg" alt="Imagen principal" class="img-fluid imagen-pequena">
      </div>
    </div>
  </div>
  
