<div class="container mt-5 mb-4">
  <div class="row">
    <div class="col-md-12 mb-3">
      <h2>Nuestros Servicios</h2>
    </div>
  </div>
  <div class="row">
    <div class="row-md-4 mb-3">
      <div class="card row no-gutters">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="assets\images\entrevista.jpg"
              class="card-img-left imagen-servicio"
              alt="Servicio 1"
            />
          </div>
          <div class="card-body col-md-8">
            <h5 class="card-title">Entrevista Personal</h5>
            <p class="card-text">
              Experimenta una consulta personalizada con nuestros consejeros
              especializados en relaciones amorosas. Durante esta entrevista,
              tendrás la oportunidad de explorar tus deseos, preocupaciones y
              metas en el ámbito amoroso. Nuestros expertos te guiarán para
              identificar áreas de mejora y proporcionarán orientación
              personalizada para el crecimiento y la felicidad en tus
              relaciones.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row-md-4 mb-3">
      <div class="card row no-gutters">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="assets\images\amor.jpg"
              class="card-img-left imagen-servicio"
              alt="Servicio 1"
            />
          </div>
          <div class="card-body col-md-8">
            <h5 class="card-title">Estudio y Análisis de Afinidad</h5>
            <p class="card-text">
              Sumérgete en un análisis profundo de la afinidad emocional y
              psicológica con tu pareja potencial. Nuestros consejeros
              utilizarán herramientas especializadas para evaluar la
              compatibilidad en áreas clave, permitiéndote comprender mejor la
              dinámica de tu relación y brindándote insights valiosos para
              fortalecer el vínculo con tu pareja.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row-md-4 mb-3">
      <div class="card row no-gutters">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="assets\images\pareja.jpg"
              class="card-img-left imagen-servicio"
              alt="Servicio 1"
            />
          </div>
          <div class="card-body col-md-8">
            <h5 class="card-title">Pareja Estable</h5>
            <p class="card-text">
              Para aquellos que buscan consolidar su relación y construir un
              futuro sólido, ofrecemos servicios especializados para parejas
              estables. Nuestros consejeros trabajarán contigo y tu pareja para
              fortalecer la comunicación, abordar desafíos específicos y
              fomentar un crecimiento conjunto. Descubre cómo llevar tu relación
              al siguiente nivel y disfruta de una conexión más profunda y
              duradera.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
